.serviceSideBar {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  bottom: 0;
  width: 350px;
  background-color: white;
  z-index: var(--z-fixed);
  transition: all 0.3s ease;
  overflow: hidden;
}

.showSideBar {
  transform: translateX(0);
}

.ssbHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 1rem;
}

.ssbClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: auto;
  border-radius: 32px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.ssbClose:hover .ssbCloseIcon {
  color: var(--first-color);
}

.ssbCloseIcon {
  font-size: 1rem;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.ssbTitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
  color: var(--text-color);
}

.ssbContent {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.sbInputField {
  display: flex;
  flex-direction: column;
}

.sbLabel {
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.sbLabel span {
  color: var(--validation-color);
}

.sbInput {
  padding: 0.5rem 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.sbBtn {
  display: flex;
  align-items: center;
}

.sbInputBtn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.sbBtnSubmit {
  margin-right: 1rem;
  background-color: var(--first-color);
  color: white;
  border: 1px solid var(--first-color);
  transition: all 0.3s ease;
}

.sbBtnSubmit:hover {
  -webkit-box-shadow: 0 0 3px 3px var(--background-color);
  -moz-box-shadow: 0 0 3px 3px var(--background-color);
  box-shadow: 0 0 3px 3px var(--background-color);
}

.sbBtnReset {
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--text-color-light);
}

.sbBtnReset:hover {
  background-color: var(--background-color);
}

.sbValidate {
  margin-top: 0.5rem;
  font-size: var(--smaller-font-size);
  color: var(--validation-color);
}
