.employeeSideBarNextOne {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  bottom: 0;
  width: 350px;
  background-color: white;
  z-index: var(--z-fixed);
  transition: all 0.3s ease;
  overflow: hidden;
}

.showSideBar {
  transform: translateX(0);
}
