#newPassword {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.npTitle {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1-5);
}

.npDesc {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 50px;
}

.npForm {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-1);
}

.npFormGroup {
  margin-bottom: var(--mb-2-5);
}

.npLabel {
  display: inline-block;
  margin-bottom: var(--mb-0-5);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
}

.npInputField {
  border: 1px solid #d9d9d9;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-0-5);
  width: 100%;
  outline: none;
  background-color: transparent;
}

.npInputField:focus {
  border: 1px solid var(--first-color);
  box-shadow: 0 0 0 3.2px rgb(0 123 255 / 20%);
}

.npInputFieldError:focus {
  border: 1px solid var(--validation-color);
  box-shadow: 0 0 0 3.2px rgb(230 57 70 / 20%);
}

.npValidateText {
  font-size: var(--smaller-font-size);
  color: var(--validation-color);
}

.npBtn {
  font-family: var(--body-font);
  padding: 0.8rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--first-color);
  outline: none;
  background-color: var(--first-color);
  color: white;
  cursor: pointer;
}
